* {
    font-family:'Courier New', Courier, monospace;
}
.navigation ul{
    text-align: center;
    margin: 0;
    padding: 0;
}

.navigation li{
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    font-size: large;
}

.title{
    font-weight: 150;
    letter-spacing: 2px;
    text-align: center;
}